*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container {
    max-width: 450px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}

.text-content {
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 2rem;
}

.subtitle {
    color: var(--desaturated-blue);
}

.plan-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--very-pale-blue);
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
}

.plan-box a {
    margin-left: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}