*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.illustration-hero {
    min-width: 100%;
}

.container {
    max-width: 450px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.3);
}

.text-content {
    padding: 2.5rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 2rem;
}

.subtitle {
    color: var(--desaturated-blue);
}

.plan-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--very-pale-blue);
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;

}

.plan-box a,
.plan-box a:visited {
    margin-left: auto;
    color: var(--bright-blue);
    font-weight: 900;
    font-size: 14px;
}

.plan-box h5 {
    font-weight: 900;
    font-size: 18px;
}

.plan-text {
    text-align: left;

}

.plan-text p {
    color: var(--desaturated-blue);
}


.button,
.button:visited {
    font-family: inherit;
    font-weight: 900;
    background-color: inherit;
    border: 0;
    border-radius: 0.625rem;
    cursor: pointer;
    text-decoration: none;
}

.proceed-btn {
    background-color: var(--bright-blue);
    color: white;
    text-decoration: none;
    padding: 1rem;
    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.4);
}

.cancel-btn {
    color: var(--desaturated-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        background: url(./images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--pale-blue);
    }

    .container {
        max-width: 375px;
    }
}